In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

data = pd.read_csv('family_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
family_id    5000 non-null int64
choice_0     5000 non-null int64
choice_1     5000 non-null int64
choice_2     5000 non-null int64
choice_3     5000 non-null int64
choice_4     5000 non-null int64
choice_5     5000 non-null int64
choice_6     5000 non-null int64
choice_7     5000 non-null int64
choice_8     5000 non-null int64
choice_9     5000 non-null int64
n_people     5000 non-null int64
dtypes: int64(12)
memory usage: 468.8 KB

In [4]:
total_peeps = data.n_people.sum()
total_peeps

21003

\begin{equation*}
Loss=\sum_{f=1}^F pref_f(n_f) + \sum_{d=1}^D (\alpha n_d^2 - \beta n_d) e^(\frac{1}{2} + \frac{ \left\lvert{n_d-n_{d+1}}\right\rvert}{50 } )
\end{equation*}

Where F=5000 (number of families), D=100 (number of days), and n is the number of people in a family or on a given day (based on the subscript).

We begin by minimizing the right-most term of the loss function. This is done by having as many days as possible where $\alpha n_d^2 - \beta n_d = 0$ and then by keeping the exponential term $\frac{ \left\lvert{n_d-n_{d+1}}\right\rvert}{50 }$ equal to zero on all remaining days where $n_d > 125$.

In [29]:
def acct_cost(sced):
    
    return sum( [ ((sced[i]-125)/400)*sced[i]**(0.5+(abs(sced[i]-sced[i+1])/50)) for i in range(len(sced)-1)])+((sced[99]-125)/400)*sced[len(sced)-1]**(0.5)

In [11]:
sced=np.ones(50)*125
sced=np.append(sced, np.ones(49)*295)
sced=np.append(sced, np.ones(1)*298)
sced

array([125., 125., 125., 125., 125., 125., 125., 125., 125., 125., 125.,
       125., 125., 125., 125., 125., 125., 125., 125., 125., 125., 125.,
       125., 125., 125., 125., 125., 125., 125., 125., 125., 125., 125.,
       125., 125., 125., 125., 125., 125., 125., 125., 125., 125., 125.,
       125., 125., 125., 125., 125., 125., 295., 295., 295., 295., 295.,
       295., 295., 295., 295., 295., 295., 295., 295., 295., 295., 295.,
       295., 295., 295., 295., 295., 295., 295., 295., 295., 295., 295.,
       295., 295., 295., 295., 295., 295., 295., 295., 295., 295., 295.,
       295., 295., 295., 295., 295., 295., 295., 295., 295., 295., 295.,
       298.])

In [30]:
acct_cost(sced)

368.115694310885

The minimum accounting cost is \$368.12. What is the associated preference cost?

In [31]:
data.head()

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people
0,0,52,38,12,82,33,75,64,76,10,28,4
1,1,26,4,82,5,11,47,38,6,66,61,4
2,2,100,54,25,12,27,82,10,89,80,33,3
3,3,2,95,1,96,32,6,40,31,9,59,2
4,4,53,1,47,93,26,3,46,16,42,39,4

In [34]:
families=data.sort_values(by='n_people', ascending=False)

In [35]:
def family_cost(choice, n):
    pref={
        0:0,
        1:50,
        2:50+9*n,
        3:100+9*n,
        4:200+9*n,
        5:200+18*n,
        6:300+18*n,
        7:300+36*n,
        8:400+36*n,
        9:500+235*n,
        10:500+434*n
    }
    return pref.get(choice)